In [1]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('ex3.csv')
df.head()

     x            y
0  0.0  1313.416062
1  1.2 -1281.338337
2  2.4   257.886375
3  3.6   157.168243
4  4.8  1055.041502

In [3]:
x_cols = df.columns[:len(df.columns) - 1]
y_col = df.columns[-1]

In [4]:
def normalized(vector):
    mean = np.mean(vector)
    standard_deviation = np.std(vector)
    # print(mean)
    # print(standard_deviation)
    normalized_vector = (vector - mean) / standard_deviation
    # print(normalized_vector.shape)
    return normalized_vector

x_value = df[x_cols].values
y_value = df[y_col].values

normalized_input = np.apply_along_axis(func1d= normalized, axis= 0, arr= x_value)
normalized_output = np.apply_along_axis(func1d= normalized, axis= 0, arr= y_value).reshape(-1, 1)

In [51]:
np.random.seed(1)

theta = np.random.randn(2, 1)

In [52]:
theta

array([[ 1.62434536],
       [-0.61175641],
       [-0.52817175],
       [-1.07296862],
       [ 0.86540763],
       [-2.3015387 ],
       [ 1.74481176],
       [-0.7612069 ],
       [ 0.3190391 ]])

In [63]:
XT_X_1 = np.linalg.inv(np.dot(normalized_input.T, normalized_input))
XT_Y = np.dot(normalized_input.T, normalized_output)

theta = np.dot(XT_X_1, XT_Y)

In [64]:
theta

array([[-0.74581259],
       [-0.79103097],
       [ 0.12487717],
       [-0.15747156],
       [ 0.42754946],
       [-0.38091065],
       [ 0.15063393],
       [ 0.66641936]])