In [2]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [3]:
df = pd.read_csv('ex2.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [27]:
x_cols = df.columns[:len(df.columns) - 1]
y_col = df.columns[-1]

In [50]:
def normalized(vector):
    mean = np.mean(vector)
    standard_deviation = np.std(vector)
    # print(mean)
    # print(standard_deviation)
    normalized_vector = (vector - mean) / standard_deviation
    # print(normalized_vector.shape)
    return normalized_vector

x_value = df[x_cols].values
y_value = df[y_col].values

normalized_input = np.apply_along_axis(func1d= normalized, axis= 0, arr= x_value)
normalized_output = np.apply_along_axis(func1d= normalized, axis= 0, arr= y_value).reshape(-1, 1)

In [51]:
np.random.seed(1)

theta = np.random.randn(9, 1)

In [52]:
theta

array([[ 1.62434536],
       [-0.61175641],
       [-0.52817175],
       [-1.07296862],
       [ 0.86540763],
       [-2.3015387 ],
       [ 1.74481176],
       [-0.7612069 ],
       [ 0.3190391 ]])

In [63]:
XT_X_1 = np.linalg.inv(np.dot(normalized_input.T, normalized_input))
XT_Y = np.dot(normalized_input.T, normalized_output)

theta = np.dot(XT_X_1, XT_Y)

In [64]:
theta

array([[-0.74581259],
       [-0.79103097],
       [ 0.12487717],
       [-0.15747156],
       [ 0.42754946],
       [-0.38091065],
       [ 0.15063393],
       [ 0.66641936]])